body{
	background:white;
}
form{
	text-align:center;
	
	border-radius: 5px;
	line-height: 2rem;
	width: 580px;
	height: 340px; 
	background: #f2f2f2 ;
	padding-top: 20px;
}
.header{
	color: grey;
	padding-top: 19px;
	font-size: 24px;
	padding-right:143px;
	



}
.login{
	background-color:#6666ff;
	height: 40px;
	color: white;
	margin-bottom:13px;
	border: 1px;
	width: 390px;




	
}
.Password2{
	color:#6666ff;
	text-align: center;

}
.Email{
	width: 390px;
    height: 35px;
    padding-top:2px;
    font-size:13px;
    margin-top:15px;
    margin-bottom: 18px;
    


}
.Password1{
	width: 390px;
	 height: 35px;
	 font-size:13px;
	 margin-bottom: 18px;

	 

}